.canvas {
  box-sizing: border-box;

  width: 284px;
  height: 284px;

  border: 1px solid var(--border-color);
}

.canvas__layer {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;

  background: var(--background-color);
}

@container (min-width: 378px) {
  .canvas {
    width: 342px;
  }
}

@container (min-width: 440px) {
  .canvas {
    width: 404px;
  }
}
