.sheet__table,
.sheet__th,
.sheet__td {
  border: 1px solid;
}

.sheet__th,
.sheet__td {
  border-top-width: 0;
  border-left-width: 0;
}

.sheet__th:last-child,
.sheet__td:last-child {
  border-right-width: 0;
}

.sheet__tbody .sheet__tr:last-child .sheet__th,
.sheet__tbody .sheet__tr:last-child .sheet__td {
  border-bottom-width: 0;
}

.sheet__table {
  width: 100%;
  max-width: 485px;
  height: 290px;
  display: block;
  overflow-x: auto;
  border-spacing: 0;
}

.sheet__th, .sheet__td {
  padding: 4px;
}

.sheet__thead .sheet__th {
  position: sticky;
  top: 0;
  background: #fff;
}

.sheet__tbody .sheet__th {
  position: sticky;
  left: 0;
  background: #fff;
}

.sheet__row-headers-column-header {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
}

.sheet__column-header,
.sheet__cell {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

.sheet__input {
  box-sizing: border-box;
  width: 100%;
}
