@import "./circle.css";
@import "./canvas.css";

.circle-drawer__undoredo {
  display: flex;
  justify-content: center;
  gap: 16px;

  margin-bottom: 16px;
}

.dialog {
  display: inline-block;
  position: relative;

  width: 100%;
  height: 100%;
}

.dialog__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: transparent;
}

.dialog__body {
  --dialog-x: 0;
  --dialog-y: 0;

  position: absolute;
  left: var(--dialog-x);
  top: var(--dialog-y);

  min-width: max-content;
}

.adjust-diameter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
