.crud {
  display: grid;
  grid:
    "filter ." auto
    "listbox names" 1fr
    "buttons buttons" auto
    / 1fr 1fr;
  grid-gap: 16px;
}

.crud__filter-area {
  grid-area: filter;
}

.crud__listbox-area {
  grid-area: listbox;
}

.crud__names-area {
  grid-area: names;
}

.crud__buttons-area {
  grid-area: buttons;
}

.crud__filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.crud__filter > label {
  white-space: nowrap;
}

.crud__listbox {
  width: 100%;
  max-width: 340px;

  height: 100%;
  min-height: 150px;

  padding: 4px;

  overflow: auto;
}

.crud__names {
  display: grid;
  grid:
    ". ." auto
    ". ." auto
    / auto auto;
    grid-gap: 8px;
}
