.timer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.timer__field {
  display: flex;
  align-items: center;
  gap: 8px;
}

.timer__field > meter {
  flex-grow: 1;
}

.timer__field > input[type="range"] {
  margin: 0;
}

.timer > .button {
  margin-top: 8px;
}
