.frame {
  display: inline-flex;
  flex-direction: column;

  background-color: var(--background-color);

  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

.frame__title {
  margin: 0;
  padding: 4px 16px 4px 16px;

  text-align: center;
  font-size: 16px;

  background-color: var(--text-color);
  color: var(--background-color);
}

.frame__body {
  padding: 16px;
}

.frame--flight-booker {
  max-width: 340px;
}

.frame--cells {
  max-width: 100%;
  min-width: 205px;
}
