@import "./base.css";
@import "./title.css";
@import "./line.css";
@import "./toc.css";
@import "./home.css";
@import "./task.css";
@import "./button.css";
@import "./control.css";
@import "./circle.css";
@import "./frame.css";
@import "./app-counter.css";
@import "./app-temperature-converter.css";
@import "./app-flight-booker.css";
@import "./app-timer.css";
@import "./app-crud.css";
@import "./app-circle-drawer.css";
@import "./layout.css";
@import "./misc.css";

.placeholder {
  width: 185px;
  height: 100px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 13%);
  border-radius: 4px;
}
