.home-page {
  display: flex;
  justify-content: center;
}

.home-page__container {
  box-sizing: border-box;

  width: 100%;
  max-width: 1360px;
  padding: 20px;
}

.home-page__container > * {
  margin-bottom: 32px;
}

.home-page__line {
  min-width: 150px;
}

.home-page__description {
  box-sizing: border-box;

  max-width: 640px;
}

.home-page__description > p {
  margin: 0;
}

@media (min-width: 640px) {
  .home-page__container {
    padding: 40px;
  }
}
